@charset "UTF-8";

:root {
    --cor-branca: #fff;
    --cor-dark1: #272727;
    --cor-dark2: #2d2d2d;
    --cor-dark3: #414141;
    --cor-dark4: #1c1c1c;
    --cor-dark5: #343434;
}

*{
    margin: 0; 
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-dark1);
    color: var(--cor-branca);
}
header .logo {
    width: 12px;
}
header .menu{
    flex-direction: row;
    text-align: center;
}
header {
    display: flex;
    background-color: var(--cor-dark2);
    box-shadow: 1px 1px 4px var(--cor-dark4);
    border-bottom: 1px solid red;
    justify-content: space-evenly;
    padding: 0 10%;
}
header .menu a {
    cursor: pointer;
    text-decoration: none;
    color: var(--cor-branca);
    transition: 1s;
    font-weight: bold;

}
.menu {
    gap: 3em;
}
.b_links {
    background-color: var(--cor-dark3);
    padding: 10px;
    border-radius: 10px;
}













.estura_principal .artigo01 .titulo{
    padding-top: 20px;
    padding-left: 20px;
}
.estura_principal .artigo01 .subtitulo{
    padding-top: 20px;
    padding-left: 20px;
}
.artigo1img {
    width: 500px;
    height: 400;
  }