@charset "UTF-8";

:root {
    --cor-branca: #fff;
    --cor-dark1: #fff;
    --cor-dark2: #df490e;
    --cor-dark3: #414141;
    --cor-dark4: #1C1C1C;
    --cor-dark5: #343434;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-dark1);
    color: var(--cor-branca);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

    
}

header { 
    background-color: var(--cor-dark2);
    box-shadow: 1px 1px 4px var(--cor-dark4);
    height: 60px; 
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: inline-block;
    width: 35%;

}

.menu ul {
    width: 30%;
    list-style: none;
    display: flex;
    /* position: relative; */

}

.menu ul li a{
    text-decoration: none;
    padding: 15px;
    color:#fff;
    font-size: 14pt;

}

input{
    width: 200px;
    height: 10px;
}
.imagem {
    width: 10%;
    height: 40px;
    margin-left: 12px;
}
main h1 {
    text-align: center;
}

/* INDEX */
.topo{
    background-image: url(elements/imagen-emprentedor.jpeg);
    width: 100%;
    height: 100vh;
    background-size:100% 100% ;
}
.parte_superior{
    margin: 100px auto;
    display: flex;
    justify-content: center;

}
.PrtSup01{
    width: 35%;
    height: 350px;
    border-radius: 10px;
    background-color: #926969;
    display:inline-block;
    background-image: url(elements/plano-de-negocios-restaurante.jpg);
    background-size: 100% 100%;
    margin-right: 25px;
}
.PrtSup02{
    width: 35%;
    height: 350px;
    text-align: center;
    background-color: rgb(211, 197, 197);
    font-size: 16pt;
    display: inline-block;
    margin-left: 25px;
}
.PrtSup02 h1, .PrtSup02 p {
    display: inline-block;
}
/* PAGINA DONWLOADS */
.inicio_downloads {
    position: relative;
    display: inline-block;
    background-image: url('imagens/churasco.jpg');
    background-size: cover;
    

  }
  
.texto_downloads {
    position: absolute;
    top: 4.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff
     /* font-size: 24px; */
    /* width: 2000px; */
    /* text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px; */ 

}
  
