@charset "UTF-8";

:root {
    --cor-branca: #fff;
    --cor-dark1: #fff;
    --cor-dark2: #efdc11;
    --cor-dark3: #414141;
    --cor-dark4: #1C1C1C;
    --cor-dark5: #343434;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-dark1);
    color: var(--cor-branca);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header { 
    background-color: var(--cor-dark2);
    box-shadow: 1px 1px 4px var(--cor-dark4);
    height: 60px; 
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabeçalho h1{
    left: 0%;
}

.menu{
    display: inline-block;
    /* width: 35%; */

}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    text-decoration: none;
    padding: 15px;
    color: #fff;
    font-size: 15pt;
    margin-left: 17px;
}

input{
    width: 200px;
    height: 10px;
}
.imagem {
    width: 17%;
    height: 96%;
    margin-left: -20%;
    border-radius: 20px;
}
.botão-donwload{
    background-color: rgb(20, 195, 20);
    border-radius: 10px;

}
.botão-login{
    background-color: rgb(20, 195, 20);
    border-radius: 10px;
}
.botão-ajuda{
    background-color: rgb(20, 195, 20);
    border-radius: 10px;
}
main h1 {
    text-align: center;
}
footer{
    height: 300px;
    background-color: var(--cor-dark2);
}
/* INDEX */
.topo{
    background-image: url(elements/imagen-emprentedor.jpeg);
    width: 100%;
    height: 100vh;
    background-size:100% 100% ;
}
.parte_superior{
    margin: 100px auto;
    display: flex;
    justify-content: center;

}
.PrtSup01{
    width: 35%;
    height: 350px;
    border-radius: 10px;
    background-color: #926969;
    display:inline-block;
    background-image: url(elements/plano-de-negocios-restaurante.jpg);
    background-size: 100% 100%;
    margin-right: 25px;
}
.PrtSup02{
    width: 35%;
    height: 350px;
    text-align: center;
    background-color: rgb(211, 197, 197);
    font-size: 16pt;
    display: inline-block;
    margin-left: 25px;
}
.PrtSup02 h1, .PrtSup02 p {
    display: inline-block;
}
.chamada-donwload{
    background-color: gray;
    text-align: center;
}
/* PAGINA DONWLOADS */
.inicio_downloads {
    position: relative;
    display: inline-block;
    background-image: url('imagens/churasco.jpg');
    background-size: cover;
}
.inicio_downloads-imagem{
    width: auto;    
    height: 1048px;
}
  
.texto_downloads {
    position: absolute;
    top: 4.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    /* font-size: 24pt;
    width: 2000px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;  */

}
.texto_downloads2 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 0%;
    width: 50%;
    text-align: center;
    padding: 10px;
}
.img-downloads_2{
    width: auto;
    height: auto;
    border-radius: 100px;
}
.texto_downloads3 {
    position: absolute;
    top: 83%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
}
.img_downloads3{
    width: 389px;
    height: 106px;
    border-radius: 20px;
}
.texto_downloads3_1 {
    position: absolute;
    top: 83%;
    left: 64%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
}
.img_downloads3_1{
    width: auto;
    height: auto;
    border-radius: 20px;
}
.texto_downloads4 {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: auto;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.2%;
}
.posicao_footer h1{
    bottom: -26.6%;
}
.area-login {
    width: 300px;
    margin: 0 auto;
  }
  
  .formulario-login {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  h2 {
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  a {
    color: rgb(0, 255, 17);
  }
  