@charset "UTF-8";

:root {
    --cor-branca: #f8f8f8;
    --cor-dark1: #e26565;
    --cor-dark2: #eb0707;
    --cor-dark3: #f8f8f8;
    --cor-dark4: #f8f8f8;
    --cor-dark5: #f8f8f8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-dark1);
    color: var(--cor-branca);
    margin: 0px;
}

header {
    display: flex; 
    align-items: center;
    background-color: var(--cor-dark2);
    box-shadow: 1px 1px 4px var(--cor-dark4);
    height: 56px; 
   
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
nav ul li a{
    text-decoration: none;
    padding: 15px;
    color:#fff;
    font-size: 14pt;

}
